<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>1-1</key>
		<string>元旦</string>
		<key>2-14</key>
		<string>情人节</string>
		<key>3-8</key>
		<string>妇女节</string>
		<key>5-1</key>
		<string>劳动节</string>
		<key>6-1</key>
		<string>儿童节</string>
		<key>8-1</key>
		<string>建军节</string>
		<key>9-1</key>
		<string>教师节</string>
		<key>10-1</key>
		<string>国庆节</string>
		<key>11-1</key>
		<string>植树节</string>
		<key>11-11</key>
		<string>光棍节</string>
	</dict>
	<dict>
		<key>正-初一</key>
		<string>春节</string>
		<key>正-十五</key>
		<string>元宵</string>
		<key>二-初二</key>
		<string>龙抬头</string>
		<key>五-初五</key>
		<string>端午</string>
		<key>七-初七</key>
		<string>七夕</string>
		<key>八-十五</key>
		<string>中秋</string>
		<key>九-初九</key>
		<string>重阳</string>
		<key>腊-初八</key>
		<string>腊八</string>
		<key>腊-二十四</key>
		<string>小年</string>
		<key>腊-三十</key>
		<string>除夕</string>
	</dict>
</array>
</plist>
